In <a href="/2014/10/16/django_auth_tutorial/">part one</a>, we created the model for the &quot;trivial website&quot; in our authentication-and-testing tutorial. In this second part, we'll create the first of our two views: The user's profile page, which is only viewable to logged-in users. We'll also be writing our first substantial tests.

<i><code><b>[TOC: <a href="/2014/10/16/django_auth_tutorial/">one</a>, <a href="/2014/10/19/django_auth_tutorial_2/">two</a>, <a href="/2014/10/19/django_auth_testing_tutorial_3/">three</a>, <a href="/2014/12/29/django_auth_tutorial_4/">four</a>, <a href="/2015/01/26/django_auth_tutorial_5/">five</a>, <a href="/2015/02/12/django_auth_tutorial_6/">six</a>, <a href="/2015/02/13/django_auth_tutorial_7/">seven</a>, eight, nine, ten]</b></code></i>

<img src="http://i.imgur.com/psArNo6.jpg" alt="screenshot">

This displays all (non-password) fields in the <a href="https://docs.djangoproject.com/en/1.7/topics/auth/default/#user-objects">default Django <code>User</code> model</a> and the only field in <a href="#model">our <code>UserProfile</code> model</a>: birth year. If no user is logged in, this redirects to the login page (which will be created in a future post).<a name="view"></a>

<i>Warning: The website cannot be viewed, and the tests can't be run (successfully!), until the end of part three. <a href="http://ask.metafilter.com/14363/What-is-the-origin-of-the-phrase-patience-grasshopper">Patience, Grasshopper</a>.</i><a name="view"></a>

<h1>The view</h1>

Save the following as
 &nbsp; &nbsp; <code>/home/jeffy/django_files/djauth_lifecycle_tutorial/part_02/djauth_root/auth_lifecycle/view__profile.py</code>

[code language="python"]@view__profile_dot_py@[/code]<a name="template"></a>

<h1>The template</h1>

Save the following as
<code>/home/jeffy/django_files/djauth_lifecycle_tutorial/part_02/djauth_root/auth_lifecycle/templates/auth_lifecycle/user_profile.html</code>

[code language="html"]@user_profile_dot_html@[/code]<a name="tests"></a>

<i>Translation (internationalization) in all templates will be done by the <a href="https://docs.djangoproject.com/en/1.7/topics/i18n/translation/#internationalization-in-template-code"><code>i18n</code> tag</a>, which gives us access to the <code>trans</code> tag.</i>

<h1>Our first substantial tests</h1>

When no user is logged in, the profile page should redirect them to the login page. Temporarily, until the login page is created, they'll instead be redirected to the main page (which will be created in the next post, at which point we can actually run the tests).

When a user is logged in, all their private attributes, aside from the password, should exist <i>somewhere</i> in the rendered html. Test users are defined in <a href="/2014/10/16/django_auth_tutorial/#test_utils"><code>test__utilities.py</code></a> at the bottom of <a href="/2014/10/16/django_auth_tutorial/">part one</a>.

Save the following as
 &nbsp; &nbsp; <code>/home/jeffy/django_files/djauth_lifecycle_tutorial/part_02/djauth_root/auth_lifecycle/test__view_profile.py</code>

(The <code>login_get_test_user</code> used in future tests. And a reminder: The tests cannot be run and the website can't be viewed, until the end of part three.)

[code language="python"]@test__view_profile_dot_py@[/code]<a name="urls"></a>

<h1>Configure the urls</h1>

Replace the contents of
&nbsp; &nbsp; <code>/home/jeffy/django_files/djauth_lifecycle_tutorial/part_02/djauth_root/django_auth_lifecycle/urls.py</code>
with

[code language="python"]@dal_urls_dot_py@[/code]

Save the following as
&nbsp; &nbsp; <code>/home/jeffy/django_files/djauth_lifecycle_tutorial/part_02/djauth_root/auth_lifecycle/urls.py</code>
with

[code language="python"]@al_urls_dot_py@[/code]

---

In the next post, we'll implement and test the second of two views: The main, publicly-available, aggregate-information page. And finally, we'll actually <i>use</i> and test our trivial demo website. Then it's onto authentication!

<i><code><b>[TOC: <a href="/2014/10/16/django_auth_tutorial/">one</a>, <a href="/2014/10/19/django_auth_tutorial_2/">two</a>, <a href="/2014/10/19/django_auth_testing_tutorial_3/">three</a>, <a href="/2014/12/29/django_auth_tutorial_4/">four</a>, <a href="/2015/01/26/django_auth_tutorial_5/">five</a>, <a href="/2015/02/12/django_auth_tutorial_6/">six</a>, <a href="/2015/02/13/django_auth_tutorial_7/">seven</a>, eight, nine, ten]</b></code></i>

<i>A final reminder to backup your files.</i>

<h1><i>...to be continued...</i></h1>

<i>(cue <a href="http://www.dramabutton.com/">cliffhanger segue music</a>)</i>
