In parts <a href="/2014/10/16/django_auth_tutorial/">one</a> and <a href="/2014/10/19/django_auth_tutorial_2/">two</a> of this tutorial, we created the model and the first of our two views: The user's profile page, which is only viewable to logged-in users. In this post, we'll create the other half of our trivial website: the "main" page, which contains aggregate information about all website users and, if they happen to be logged in, some extra private info.

This is the final post where we <i>don't</i> deal with authentication.

<i><code><b>[TOC: <a href="/2014/10/16/django_auth_tutorial/">one</a>, <a href="/2014/10/19/django_auth_tutorial_2/">two</a>, <a href="/2014/10/19/django_auth_testing_tutorial_3/">three</a>, <a href="/2014/12/29/django_auth_tutorial_4/">four</a>, <a href="/2015/01/26/django_auth_tutorial_5/">five</a>, <a href="/2015/02/12/django_auth_tutorial_6/">six</a>, <a href="/2015/02/13/django_auth_tutorial_7/">seven</a>, eight, nine, ten]</b></code></i>

<img src="http://i.imgur.com/WSmtami.jpg" alt="screenshot"><a name="view"></a>

<h1>Create the view</h1>

Save the following as
&nbsp; &nbsp; <code>/home/jeffy/django_files/djauth_lifecycle_tutorial/part_03/djauth_root/auth_lifecycle/view__main.py</code>

[code language="python"]@view__main_dot_py@[/code]<a name="template"></a>

<h1>Create the template</h1>

Save the following as
<code>/home/jeffy/django_files/djauth_lifecycle_tutorial/part_03/djauth_root/auth_lifecycle/templates/auth_lifecycle/main_page.html</code>

[code language="html"]@main_page_dot_py@[/code]<a name="tests"></a>

<h1>Create the tests</h1>

As in the <a href="/2014/10/19/django_auth_tutorial_2#tests">profile tests</a>, there is a logged-in test and a not-logged-in test. In the main page, however, there is always something displaying, so the sub-tests that check for the public information are placed in a separate function.

Save the following as
 &nbsp; &nbsp; <code>/home/jeffy/django_files/djauth_lifecycle_tutorial/part_03/djauth_root/auth_lifecycle/test__view_main.py</code>

[code language="python"]@test__view_main_dot_py@[/code]<a name="urls"></a>

<h1>Configure the urls</h1>

Add the main page element to the <code>patterns</code> list in
&nbsp; &nbsp; <code>/home/jeffy/django_files/djauth_lifecycle_tutorial/part_03/djauth_root/auth_lifecycle/urls.py</code>

[code language="python"]url(r'^$', 'auth_lifecycle.view__main.get_rendered', name='main_page'),[/code]

The only difference is the addition of the <code>'main_page'</code> line. <a name="run_tests"></a>

<h1>Run all the tests we've created so far</h1>

<ol>
   <li><code>source /home/jeffy/django_files/djauth_lifecycle_tutorial/part_03/dalt03_venv/bin/activate</code></li>
   <li><code>cd /home/jeffy/django_files/djauth_lifecycle_tutorial/part_03/djauth_root/</code></li>
   <li><code>python -Wall manage.py <a href="https://docs.djangoproject.com/en/1.7/topics/testing/overview/#running-tests">test</a></code></li>
</ol>

Output:

<pre>/home/jeffy/django_files/djauth_lifecycle_tutorial/part_03/dalt03_venv/lib/python3.4/imp.py:32: PendingDeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
  PendingDeprecationWarning)
Creating test database for alias 'default'...
.....
----------------------------------------------------------------------
Ran 5 tests in 2.127s

OK
Destroying test database for alias 'default'...</pre>

(The deprecation warning refers to something outside of our code, so we're going to ignore it. Our tests passed.)<a name="insert_data"></a>

<h1>Insert some data into the database</h1>

(If data already exists, delete it via the admin app (<code>htt<!---->p://my.website/admin</code>)--just don't delete the 'admin' superuser!)

We've already created the code to insert users and their profiles into the database. It's the <code>create_insert_test_users</code> function in <a href="/2014/10/16/django_auth_tutorial/#test_utils"><code>test__utilities.py</code></a>, as used by every test. So let's use it.

[code language="python"]$ source /home/jeffy/django_files/djauth_lifecycle_tutorial/part_03/dalt03_venv/bin/activate
$ cd /home/jeffy/django_files/djauth_lifecycle_tutorial/part_03/djauth_root/
$ python manage.py shell
>>> from django.contrib.auth.models import User
>>> from auth_lifecycle.models import UserProfile
>>> User.objects.all()
[<User: admin>]
>>> UserProfile.objects.all()
[<UserProfile: admin>]
>>> from auth_lifecycle.test__utilities import create_insert_test_users
>>> create_insert_test_users()
>>> User.objects.all()
[<User: admin>, <User: 3u9osuhceo>, <User: kermit>, <User: fozzie>]
>>> UserProfile.objects.all()
[<UserProfile: admin>, <UserProfile: 3u9osuhceo>, <UserProfile: kermit>, <UserProfile: fozzie>
>>> exit()[/code]<a name="try"></a>

<h1>Give it a try!</h1>

We can finally take a look at our website in a web browser:<ol>
   <li>Start the webserver:<ul>
      <li>For Nginx/Gunicorn (may be executed in or out of the <code>virtualenv</code>):<ol>
         <li><code>sudo service nginx <a href="http://nginx.org/en/docs/beginners_guide.html#control">start</a></code></li>
         <li><code>sudo /home/jeffy/django_files/djauth_lifecycle_tutorial/part_03/dalt03_venv/bin/gunicorn -c /home/jeffy/django_files/djauth_lifecycle_tutorial/part_03/dalt03_venv/gunicorn_config.py django_auth_lifecycle.wsgi:application</code> &nbsp; &nbsp; <i>(<a href="/2014/08/07/doingthedeepdowndiggitydivewithdjangoanddigitalocean#9_gunicorn_config">the contents of the config file</a>)</i></li>
      </ol></li>
       <li>For the development-only Django server:<ol>
          <li>Make sure you're in the <code>virtualenv</code>:
 &nbsp; &nbsp; <code>source /home/jeffy/django_files/djauth_lifecycle_tutorial/part_03/dalt03_venv/bin/activate</code></li>
          <li><code>cd /home/jeffy/django_files/djauth_lifecycle_tutorial/part_03/djauth_root/</code></li>
          <li><code>python manage.py <a href="https://docs.djangoproject.com/en/1.7/ref/django-admin/#runserver-port-or-address-port">runserver</a></code></li>
       </ol></li>
       <li>Open the browser and load the page:
 &nbsp; &nbsp; <code><img src="http://i.imgur.com/2kTzIUY.jpg" alt="http-colon-slash-slash" />my.website/auth_lifecycle/</code></li>
   </ul>
</ol>

This displays the main page (screenshot at the top of this post), with public information only. Attempting to go to
 &nbsp; &nbsp; <code><img src="http://i.imgur.com/2kTzIUY.jpg" alt="http-colon-slash-slash" />my.website/auth_lifecycle/user_profile</code>
redirects you right back to the main page. If you really want to see the profile page before the login view exists, take a look at the workaround in the comments of <a href="/2014/10/19/django_auth_tutorial_2/#view"><code>view__profile.get_rendered</code></a>.

---

In the next post, we'll create the beginning of a login page.

<i><code><b>[TOC: <a href="/2014/10/16/django_auth_tutorial/">one</a>, <a href="/2014/10/19/django_auth_tutorial_2/">two</a>, <a href="/2014/10/19/django_auth_testing_tutorial_3/">three</a>, <a href="/2014/12/29/django_auth_tutorial_4/">four</a>, <a href="/2015/01/26/django_auth_tutorial_5/">five</a>, <a href="/2015/02/12/django_auth_tutorial_6/">six</a>, <a href="/2015/02/13/django_auth_tutorial_7/">seven</a>, eight, nine, ten]</b></code></i>

<h1><i>...to be continued...</i></h1>

<i>(cue <a href="http://www.dramabutton.com/">cliffhanger segue music</a>)</i>
