In parts <a href="/2014/10/16/django_auth_tutorial/">one</a>, <a href="/2014/10/19/django_auth_tutorial_2/">two</a>, and <a href="/2014/10/19/django_auth_testing_tutorial_3/">three</a>, we set up the model and our trivial website. Today we'll be creating our logout functionality, and the first of four versions of the login page. We'll start with a plain, no-frills login page, and then in the next three posts, the following functionality will be added:

1. A "remember me" checkbox, so the user's login session is remembered for two weeks. When unchecked, the session is forgotten at browser close.
2. Some basic client-side validation, to ensure the lengths of the username and password are between the expected minimum and maximum, to prevent hitting the server when obviously incorrect.
3. An "I forgot my password" link, so the user's password is reset via an email message and simple reset form.<a name="template"></a>

<i><code><b>[TOC: <a href="/2014/10/16/django_auth_tutorial/">one</a>, <a href="/2014/10/19/django_auth_tutorial_2/">two</a>, <a href="/2014/10/19/django_auth_testing_tutorial_3/">three</a>, <a href="/2014/12/29/django_auth_tutorial_4/">four</a>, <a href="/2015/01/26/django_auth_tutorial_5/">five</a>, <a href="/2015/02/12/django_auth_tutorial_6/">six</a>, <a href="/2015/02/13/django_auth_tutorial_7/">seven</a>, eight, nine, ten]</b></code></i>

<i>Warning: The server as set up in part one of this tutorial is insecure (http only). Please don't place an actual login form (or any form with sensitive information) on anything except an encrypted (https) server.</i>

<h2>The template</h2>

Save the following as
 &nbsp; &nbsp; <code>/home/jeffy/django_files/djauth_lifecycle_tutorial/part_04/djauth_root/auth_lifecycle/templates/registration/login.html</code>

[code language="html"]@login_dot_html@[/code]<a name="change_nli_redir"></a>

<h2>Change not-logged-in redirect</h2>

In
&nbsp; &nbsp; <code>/home/jeffy/django_files/djauth_lifecycle_tutorial/part_04/djauth_root/auth_lifecycle/view__profile.py</code>
Change this:

[code language="python"]PROFILE_LOGGED_OUT_REDIRECT_URL_NAME='main_page'
"""
TEMPORARY VALUE, only while the login view does not exist. Once it's
created, change this to 'login', and eliminate this comment. This
is also used by the tests.

The 'main_page' will be created in the next post. The 'login' page
will be created in the post after that.
"""[/code]

to this:

[code language="python"]PROFILE_LOGGED_OUT_REDIRECT_URL_NAME='login'
"""This is also used by the tests."""[/code]<a name="urls"></a>

<h2>Add in the login and logout links</h2>

In both
 &nbsp; &nbsp; <code>/home/jeffy/django_files/djauth_lifecycle_tutorial/part_04/djauth_root/auth_lifecycle/templates/auth_lifecycle/user_profile.html</code>
and
 &nbsp; &nbsp; <code>/home/jeffy/django_files/djauth_lifecycle_tutorial/part_04/djauth_root/auth_lifecycle/templates/auth_lifecycle/main_page.html</code>

change "<code>...{% trans "Logout" %}...</code>" to

[code language="python"]<a href="{% url 'logout_then_login' %}">{% trans "Logout" %}</a>[/code]

and "<code>...{% trans "Login" %}...</code>" to

[code language="python"]<a href="{% url 'login' %}">{% trans "Login" %}</a>[/code]

<h2>URL configurations</h2>

Add the following line to the <code>urlpatterns</code> list in
 &nbsp; &nbsp; <code>/home/jeffy/django_files/djauth_lifecycle_tutorial/part_04/djauth_root/<b><i>django_</i></b>auth_lifecycle/urls.py</code>

[code language="python"]url(r'^auth/', include('auth_lifecycle.registration.urls')),[/code]

This refers to the new authentication-specific URLconf, which should be saved as
 &nbsp; &nbsp; <code>/home/jeffy/django_files/djauth_lifecycle_tutorial/part_04/djauth_root/auth_lifecycle/registration/urls.py</code>

[code language="python"]@auth_urls_dot_py@[/code]<a name="tests"></a>

<h2>The tests</h2>

We will using django-webtest to test our login page. To install it:<ul>
    <li><code>source /home/jeffy/django_files/djauth_lifecycle_tutorial/part_04/dalt04_venv/bin/activate</code></li>
    <li><code>sudo /home/jeffy/django_files/djauth_lifecycle_tutorial/part_04/dalt04_venv/bin/pip install webtest django-webtest</code></li>
</ul>

Save the following as
 &nbsp; &nbsp; <code>/home/jeffy/django_files/djauth_lifecycle_tutorial/part_04/djauth_root/auth_lifecycle/registration/test_login_basic.py</code>

[code language="python"]@auth_test_login_basic_dot_py@[/code]

<h3>Output</h3>

The deprecation warnings are unrelated to our test code, so we're going to ignore them. Our test passed.

<pre>/home/jeffy/django_files/djauth_lifecycle_tutorial/part_04/dalt04_venv/lib/python3.4/imp.py:32: PendingDeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
  PendingDeprecationWarning)
/home/jeffy/django_files/djauth_lifecycle_tutorial/part_04/dalt04_venv/lib/python3.4/importlib/_bootstrap.py:321: RemovedInDjango19Warning: django.utils.importlib will be removed in Django 1.9.
  return f(*args, **kwds)
/home/jeffy/django_files/djauth_lifecycle_tutorial/part_04/dalt04_venv/lib/python3.4/site-packages/webtest/utils.py:10: DeprecationWarning: The value of convert_charrefs will become True in 3.5. You are encouraged to set the value explicitly.
  unescape_html = html_parser.HTMLParser().unescape
Creating test database for alias 'default'...
/home/jeffy/django_files/djauth_lifecycle_tutorial/part_04/dalt04_venv/lib/python3.4/site-packages/bs4/builder/_htmlparser.py:157: DeprecationWarning: The strict argument and mode are deprecated.
  parser = BeautifulSoupHTMLParser(*args, **kwargs)
/home/jeffy/django_files/djauth_lifecycle_tutorial/part_04/dalt04_venv/lib/python3.4/site-packages/bs4/builder/_htmlparser.py:157: DeprecationWarning: The value of convert_charrefs will become True in 3.5. You are encouraged to set the value explicitly.
  parser = BeautifulSoupHTMLParser(*args, **kwargs)
/home/jeffy/django_files/djauth_lifecycle_tutorial/part_04/dalt04_venv/lib/python3.4/site-packages/bs4/builder/_htmlparser.py:157: DeprecationWarning: The strict argument and mode are deprecated.
  parser = BeautifulSoupHTMLParser(*args, **kwargs)
/home/jeffy/django_files/djauth_lifecycle_tutorial/part_04/dalt04_venv/lib/python3.4/site-packages/bs4/builder/_htmlparser.py:157: DeprecationWarning: The value of convert_charrefs will become True in 3.5. You are encouraged to set the value explicitly.
  parser = BeautifulSoupHTMLParser(*args, **kwargs)
/home/jeffy/django_files/djauth_lifecycle_tutorial/part_04/dalt04_venv/lib/python3.4/site-packages/bs4/builder/_htmlparser.py:157: DeprecationWarning: The strict argument and mode are deprecated.
  parser = BeautifulSoupHTMLParser(*args, **kwargs)
/home/jeffy/django_files/djauth_lifecycle_tutorial/part_04/dalt04_venv/lib/python3.4/site-packages/bs4/builder/_htmlparser.py:157: DeprecationWarning: The value of convert_charrefs will become True in 3.5. You are encouraged to set the value explicitly.
  parser = BeautifulSoupHTMLParser(*args, **kwargs)
/home/jeffy/django_files/djauth_lifecycle_tutorial/part_04/dalt04_venv/lib/python3.4/site-packages/bs4/builder/_htmlparser.py:157: DeprecationWarning: The strict argument and mode are deprecated.
  parser = BeautifulSoupHTMLParser(*args, **kwargs)
/home/jeffy/django_files/djauth_lifecycle_tutorial/part_04/dalt04_venv/lib/python3.4/site-packages/bs4/builder/_htmlparser.py:157: DeprecationWarning: The value of convert_charrefs will become True in 3.5. You are encouraged to set the value explicitly.
  parser = BeautifulSoupHTMLParser(*args, **kwargs)
.
----------------------------------------------------------------------
Ran 1 test in 0.214s

OK
Destroying test database for alias 'default'...</pre><a name="try"></a>

<h1>Give it a try!</h1>

Follow <a href="/2014/10/19/django_auth_testing_tutorial_3/#try">these steps</a> to start your server, and then login with your superuser account (admin/admin), or a new account that you create in your admin interface (<code><img src="http://i.imgur.com/Qos84ab.jpg" alt="http-colon-slash-slash" />my.website/admin/</code>).

<img src="http://i.imgur.com/t2ELJF3.jpg"/>

---

In the next post, we'll add a remember-me checkbox to the login page.

<i><code><b>[TOC: <a href="/2014/10/16/django_auth_tutorial/">one</a>, <a href="/2014/10/19/django_auth_tutorial_2/">two</a>, <a href="/2014/10/19/django_auth_testing_tutorial_3/">three</a>, <a href="/2014/12/29/django_auth_tutorial_4/">four</a>, <a href="/2015/01/26/django_auth_tutorial_5/">five</a>, <a href="/2015/02/12/django_auth_tutorial_6/">six</a>, <a href="/2015/02/13/django_auth_tutorial_7/">seven</a>, eight, nine, ten]</b></code></i>

<h1><i>...to be continued...</i></h1>

<i>(cue <a href="http://www.dramabutton.com/">cliffhanger segue music</a>)</i>

