In parts <a href="/2014/10/16/django_auth_tutorial/">one</a>, <a href="/2014/10/19/django_auth_tutorial_2/">two</a>, and <a href="/2014/10/19/django_auth_testing_tutorial_3/">three</a>, we set up the model and trivial website, and in <a href="/2014/12/29/django_auth_tutorial_4/">four</a>, a basic, no-frills login page. Today, we're going to add in "remember me" functionality, so a user's session can optionally be extended to two weeks (when checked), instead of until browser close (when unchecked).

<i><code><b>[TOC: <a href="/2014/10/16/django_auth_tutorial/">one</a>, <a href="/2014/10/19/django_auth_tutorial_2/">two</a>, <a href="/2014/10/19/django_auth_testing_tutorial_3/">three</a>, <a href="/2014/12/29/django_auth_tutorial_4/">four</a>, <a href="/2015/01/26/django_auth_tutorial_5/">five</a>, <a href="/2015/02/12/django_auth_tutorial_6/">six</a>, <a href="/2015/02/13/django_auth_tutorial_7/">seven</a>, eight, nine, ten]</b></code></i>

<i>Warning: As best as I understand it (I would appreciate resources documenting this), the major browsers completely ignore this setting, and have designated the problem as low priority. So although this chapter may be pointless, it's such basic functionality--and easy to implement--I'm choosing to keep it.</i><a name="template"></a>

In the template
 &nbsp; &nbsp; <code>/home/jeffy/django_files/djauth_lifecycle_tutorial/djauth_root/auth_lifecycle/templates/registration/login.html</code>
add this line between the password field and the submit button:

[code language="html"]<label><input name="remember" type="checkbox">Remember me</label>[/code]<a name="url"></a>

In the authentication URL config
 &nbsp; &nbsp; <code>/home/jeffy/django_files/djauth_lifecycle_tutorial/djauth_root/auth_lifecycle/authentication/urls.py</code>
change the login line to:

[code language="python"]url(r"^login/$",
    "auth_lifecycle.registration.view_login.login_maybe_remember",
    name="login"),[/code]<a name="views"></a>

And, finally, save the following as
 &nbsp; &nbsp; <code>/home/jeffy/django_files/djauth_lifecycle_tutorial/djauth_root/auth_lifecycle/authentication/view_login.py</code>

[code language="python"]@auth_view_login_dot_py@[/code]<a name="tests"></a>

<h2>Tests</h2>

<b><i>This testing code is not working yet. I haven't yet figured out <a href="http://stackoverflow.com/questions/28159070/django-webtest-how-to-test-remember-me-login-expire-on-browser-close-cookies">how to test expiring cookies</a> but, given the warning at the beginning of this tutorial-part, it's low priority.</i></b>

Save the following as
<br> &nbsp; &nbsp; <code>/home/jeffy/django_files/djauth_lifecycle_tutorial/part_05/djauth_root/auth_lifecycle/registration/test_login_remember_me.py</code>

[code language="python"]@test_login_remember_me_dot_py@[/code]

<h3>Output</h3>

<pre><i>...When I get the above code working...</i></pre><a name="try"></a>


<h1>Give it a try!</h1>

Follow <a href="/2014/10/19/django_auth_testing_tutorial_3/#try">these steps</a> to start your server, and then login with your superuser account (admin/admin), or a new account that you create in your admin interface (<code><img src="http://i.imgur.com/Qos84ab.jpg" alt="http-colon-slash-slash" />my.website/admin/</code>). A reminder of the warning at the top of this post.

<img src="http://i.imgur.com/t2ELJF3.jpg"/>

---

In the next post, we'll add a JavaScript check (backed by Django) to prevent logins for obviously-bogus usernames and passwords, based on required min-max lengths.

<i><code><b>[TOC: <a href="/2014/10/16/django_auth_tutorial/">one</a>, <a href="/2014/10/19/django_auth_tutorial_2/">two</a>, <a href="/2014/10/19/django_auth_testing_tutorial_3/">three</a>, <a href="/2014/12/29/django_auth_tutorial_4/">four</a>, <a href="/2015/01/26/django_auth_tutorial_5/">five</a>, <a href="/2015/02/12/django_auth_tutorial_6/">six</a>, <a href="/2015/02/13/django_auth_tutorial_7/">seven</a>, eight, nine, ten]</b></code></i>

<h1><i>...to be continued...</i></h1>

<i>(cue <a href="http://www.dramabutton.com/">cliffhanger segue music</a>)</i>

