In parts <a href="/2014/10/16/django_auth_tutorial/">one</a>, <a href="/2014/10/19/django_auth_tutorial_2/">two</a>, and <a href="/2014/10/19/django_auth_testing_tutorial_3/">three</a>, we set up the model and trivial website, and in <a href="/2014/12/29/django_auth_tutorial_4/">four</a> and <a href="/2015/01/26/django_auth_tutorial_5/">five</a>, a login page with remember-me functionality. In this post, we're going to upgrade it further, with a basic client-side (JavaScript) check to prevent logins from ever reaching the server when the username or password have an obviously-incorrect length. These min-max values will originate in the model code, and will be passed to the template by the view.

<i><code><b>[TOC: <a href="/2014/10/16/django_auth_tutorial/">one</a>, <a href="/2014/10/19/django_auth_tutorial_2/">two</a>, <a href="/2014/10/19/django_auth_testing_tutorial_3/">three</a>, <a href="/2014/12/29/django_auth_tutorial_4/">four</a>, <a href="/2015/01/26/django_auth_tutorial_5/">five</a>, <a href="/2015/02/12/django_auth_tutorial_6/">six</a>, <a href="/2015/02/13/django_auth_tutorial_7/">seven</a>, eight, nine, ten]</b></code></i>

<i><b>Two warnings:</b> <ul>
  <li>As stated at the top of part one, I am unable to test these JavaScript features with Selenium, due to limitations in my server; it's command-line only--non-GUI.</li>
  <li>The <a href="#view">server-side length checks</a> are "succeeding" but crashing--that is, they only crash when the lengths are incorrect. While this is a critical problem, it only applies when the client-side JavaScript is disabled. Here is a <a href="http://stackoverflow.com/questions/28681563/django-form-is-properly-catching-bad-user-pass-length-but-is-crashing-with-type">Stack Overflow question</a> documenting the problem. A solution would be greatly appreciated.</li>
</ul></i>

This post is the first to contain a substantial amount of JavaScript. It is therefore time to <a href="/2015/02/10/nginxstaticdir/">create a public static web server directory</a>, into which the JavaScript will be placed.<ul>
   <li>The Nginx config file for this project is <code>/etc/nginx/sites-available/django_auth_lifecycle</code></li>
   <li>The paths to the Django-root and Virtualenv directories:<ul>
      <li><code>/home/jeffy/django_files/djauth_lifecycle_tutorial/part_06/djauth_root/</code></li>
      <li><code>/home/jeffy/django_files/djauth_lifecycle_tutorial/part_06/dalt06_venv/</code></li>
   </ul></li>
</ul>

<h2>Update the models</h2>

Were going to add four configuration variables that will be used by both the Django code and in the templates, that define the minimum and maximum lengths for both the username and password. Although the model itself will remain the same, <code>models.py</code> is an appropriate place to have these configuration variables.

Replace the contents of
&nbsp; &nbsp; <code>/home/jeffy/django_files/djauth_lifecycle_tutorial/part_06/djauth_root/auth_lifecycle/models.py</code>
with

[code language="python"]@models_dot_py@[/code]<a name="view"></a>

<h2>Update the view</h2>

The login view created in the previous chapter now needs to be updated so it pass those configuration variables to the template. These variables will be used by the client-side JavaScript. (An alternative to passing extra context to the template is via <code>urls.py</code>, as demonstrated in the next chapter.)

However, since we have no control over our users' machines--and therefore cannot know if JavaScript is even enabled--it is also necessary to do this check on the server. The default form used by this view, <code>django.contrib.auth.forms.<a href="https://docs.djangoproject.com/en/1.7/_modules/django/contrib/auth/forms/#AuthenticationForm">AuthenticationForm</a></code>, needs to be updated with our min/max lengths. Here are the original fields:

[code language="python"]username = forms.CharField(max_length=254)
password = forms.CharField(label=_("Password"), widget=forms.PasswordInput)[/code]

Replace the contents of
&nbsp; &nbsp; <code>/home/jeffy/django_files/djauth_lifecycle_tutorial/part_06/djauth_root/auth_lifecycle/registration/view_login.py</code>
with:

[code language="python"]@view_login_dot_py@[/code]

(A reminder of the second warning at the top of this chapter...)

The bounds in this form object cause <code>maxlength</code> attributes to be placed directly onto the html form elements:

[code language="html"]<input id="id_username" maxlength="30" name="username" type="text" /></p>
<input id="id_password" maxlength="4096" name="password" type="password" /></p>[/code]

While this now makes the maximum portion of our JavaScript checks redundant, we're going to leave them in anyway.

<h2>Update the template</h2>

Now to use these variables in the template.

Replace the contents of
&nbsp; &nbsp; <code>/home/jeffy/django_files/djauth_lifecycle_tutorial/part_06/djauth_root/auth_lifecycle/templates/registration/login.html</code>
with

[code language="html"]@login_dot_html@[/code]

<h2>JavaScript validation code</h2>

We'll be using the <a href="http://jqueryvalidation.org/">JQuery Validation Plugin</a>. Here is <a href="/2014/10/28/login_jquery_validation/">a separate post about the plugin</a>, where I demonstrate a basic use--the concepts of which are used here.

Save the following as
 &nbsp; &nbsp; <code>/home/jeffy/django_files/djauth_lifecycle_tutorial/part_06/djauth_root/static/js/validate_login_user_pass.js</code>
(create the <code>"js"</code> sub-directory).

[code language="javascript"]@validate_login_user_pass_dot_js@[/code]<a name="tests"></a>

<h2>Tests: Not much to do</h2>

Webtest directly accesses the WSGI application server, and therefore cannot test client-side JavaScript. The only thing we're going to look for is that the variables actually made it into the template, and are being assigned to JavaScript variables as required by the above code.

First, we need a new simple utility testing function. Add this import statement to the top of
 &nbsp; &nbsp; <code>/home/jeffy/django_files/djauth_lifecycle_tutorial/part_06/djauth_root/auth_lifecycle/test__utilities.py</code>

[code language="python"]import re[/code]

and this function at the bottom:

[code language="python"]def assert_pattern_in_string(test_instance, pattern, to_search):
    """
    Asserts that a pattern is found somewhere in a string. This calls

        `test_instance.assertIsNotNone(re.search(pattern, to_search))`

    A failure results in the full pattern and to-search strings being
    printed.
    """
    match = re.search(pattern, to_search)
    test_instance.assertIsNotNone(match,
        "pattern=" + pattern + ", to_search=" + to_search)[/code]

Now to create the test-proper. Save the following as
 &nbsp; &nbsp; <code>/home/jeffy/django_files/djauth_lifecycle_tutorial/part_06/djauth_root/auth_lifecycle/registration/test_login_user_pass_len_vars.py</code>

[code language="python"]@test_login_user_pass_len_vars_dot_py@[/code]

Output:

<pre>/home/jeffy/django_files/djauth_lifecycle_tutorial/part_06/dalt06_venv/lib/python3.4/imp.py:32: PendingDeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
  PendingDeprecationWarning)
Creating test database for alias 'default'...
.
----------------------------------------------------------------------
Ran 1 test in 0.039s

OK
Destroying test database for alias 'default'...</pre>

Our tests passed.<a name="try"></a>

<h1>Give it a try!</h1>

Follow <a href="/2014/10/19/django_auth_testing_tutorial_3/#try">these steps</a> to start your server, and try to login with no username and/or password, or one that is too short.

---

In the next post, we'll complete our login page functionality with a forgot-my-password link. After that, it's onto the change your password form, and finally, creating and deleting an account.

<i><code><b>[TOC: <a href="/2014/10/16/django_auth_tutorial/">one</a>, <a href="/2014/10/19/django_auth_tutorial_2/">two</a>, <a href="/2014/10/19/django_auth_testing_tutorial_3/">three</a>, <a href="/2014/12/29/django_auth_tutorial_4/">four</a>, <a href="/2015/01/26/django_auth_tutorial_5/">five</a>, <a href="/2015/02/12/django_auth_tutorial_6/">six</a>, <a href="/2015/02/13/django_auth_tutorial_7/">seven</a>, eight, nine, ten]</b></code></i>

<h1><i>...to be continued...</i></h1>

<i>(cue <a href="http://www.dramabutton.com/">cliffhanger segue music</a>)</i>

