<h1>...This chapter is complete except no tests yet...</h1>

<hr/>

In parts <a href="/2014/10/16/django_auth_tutorial/">one</a>, <a href="/2014/10/19/django_auth_tutorial_2/">two</a>, and <a href="/2014/10/19/django_auth_testing_tutorial_3/">three</a>, we set up the model and trivial website, and in <a href="/2014/12/29/django_auth_tutorial_4/">four</a>, <a href="/2015/01/26/django_auth_tutorial_5/">five</a>, and <a href="/2015/02/12/django_auth_tutorial_6/">six</a>, a working login page and logout links. In this post, we're going to add a final feature to the login page: a password reset link, which sends a one-time-use-only link to the user's email account. When clicked on, they are presented with a set-your-new-password form.

<i><code><b>[TOC: <a href="/2014/10/16/django_auth_tutorial/">one</a>, <a href="/2014/10/19/django_auth_tutorial_2/">two</a>, <a href="/2014/10/19/django_auth_testing_tutorial_3/">three</a>, <a href="/2014/12/29/django_auth_tutorial_4/">four</a>, <a href="/2015/01/26/django_auth_tutorial_5/">five</a>, <a href="/2015/02/12/django_auth_tutorial_6/">six</a>, <a href="/2015/02/13/django_auth_tutorial_7/">seven</a>, eight, nine, ten]</b></code></i><a name="overview"></a>

<h2>Reset your password: Overview</h2>

This is a time-consuming, although straight-forward feature to implement. By far the hardest thing is understanding the sequence of events, particularly because the views are confusingly named. This is how it works (with specifics based on the implementation in this chapter):

<ol>
    <li>On the login page there is an "I forgot my password" link.</li>
    <li>Click on it and you are taken to a page on which you need to enter your the email address from when you created the account. Pressing submit sends a one-time-only reset-my-password link to the user's email. The view for this page is <a href="https://docs.djangoproject.com/en/1.7/topics/auth/default/#django.contrib.auth.views.password_reset"><code>django.contrib.auth.views.password_reset</code></a>.</li>
    <li>After it's submitted, another page appears whose only purpose is to inform that the the email was sent, and they should go and view it for further instructions. The view for this page is <a href="https://docs.djangoproject.com/en/1.7/topics/auth/default/#django.contrib.auth.views.password_reset_done"><code>django.contrib.auth.views.password_reset_done</code></a>.</li>
    <li>The email itself is sent. The template for this email is specified by the <code>email_template_name</code> parameter of the <code>password_reset</code> view. See the next section for an example email.</li>
    <li>The link in the email takes you to the "set your new password" form, which includes a redundant confirmation field. The view for this page is <a href="https://docs.djangoproject.com/en/1.7/topics/auth/default/#django.contrib.auth.views.password_reset_confirm"><code>django.contrib.auth.views.password_reset_confirm</code></a>.</li>
    <li>After the form is submitted, the final page is presented, which only states "your password has been changed", and likely provides a link back to the login page. The view for this page is <a href="https://docs.djangoproject.com/en/1.7/topics/auth/default/#django.contrib.auth.views.password_reset_complete"><code>django.contrib.auth.views.password_reset_complete</code></a>.</li>
</ol>

<img src="http://i.imgur.com/ZJoQrQJ.jpg">

Although I would choose these views to have clearer names more along the lines of<ul>
   <li><code>password_reset_1of4_email_request</code>,</li>
   <li><code>password_reset_2of4_email_sent</code>,</li>
   <li><code>pwd_reset_3of4_new_pwd_form</code>, and</li>
   <li><code>password_reset_4of4_finished</code></li>
</ul>the <a href="http://stackoverflow.com/questions/28569130/how-to-change-the-view-name-referred-to-by-the-default-django-reset-your-passwor">existing names are here to stay</a>. We are going to use the "better" ones as much as possible, though.<a name="email"></a>

<h2>Set up email: Print to console only</h2>

Normally an email is actually sent (<a href="https://docs.djangoproject.com/en/1.7/topics/email/">how to do this</a>). Instead, we're going to <a href="https://docs.djangoproject.com/en/1.7/topics/email/#django.core.mail.backends.smtp.EmailBackend">print its contents to the console</a>. This is trivially-implemented by adding a single variable to
&nbsp; &nbsp; <code>/home/myname/django_auth_lifecycle/djauth_root/django_auth_lifecycle/settings.py</code>

[code language="python"]# https://docs.djangoproject.com/en/1.7/topics/email/#django.core.mail.backends.smtp.EmailBackend
EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'[/code]

This is what the email looks like when printed to the console, with some empty lines removed (the <code>127.0.0.1.:8001</code> in the link must be changed to the name of your webserver):

<pre>MIME-Version: 1.0
Content-Type: text/plain; charset="utf-8"
Content-Transfer-Encoding: 7bit
Subject: Password reset on 127.0.0.1:8001
From: webmaster@localhost
To: myemailaddress@yahoo.com
Date: Wed, 18 Feb 2015 16:38:02 -0000
Message-ID: <20150218163802.3039.12337@originaldjangster.com>

You're receiving this email because you requested a password reset for your user account at 127.0.0.1:8001.
Please go to the following page and choose a new password:

http://127.0.0.1:8001/auth/pwd_reset_3of4_new_pwd_form/MQ/3zd-add9dfa05216b9ead4cc/

Your username, in case you've forgotten: admin
Thanks for using our site!
The 127.0.0.1:8001 team
-------------------------------------------------------------------------------</pre>

<h2>Set the login view name</h2>

One more change in the settings file.

In order for the final "your password was successfully changed" view (<code>password_reset_complete</code>) to link back to the login page, we must tell it where to link to, since ours is not using the default name. Add the <a href="https://docs.djangoproject.com/en/1.7/ref/settings/#login-url"><code>LOGIN_URL</code></a> variable:

[code language="python"]# https://docs.djangoproject.com/en/1.7/ref/settings/#login-url
LOGIN_URL="login"     #View name in auth_lifecycle.registration.urls[/code]

<h2>Activate the forgot-my-password link</h2>

In
&nbsp; &nbsp; <code>/home/myname/django_auth_lifecycle/djauth_root/auth_lifecycle/templates/registration/login.html</code>

Change

[code language="html"]...I forgot my password...[/code]

to

[code language="html"]<a href="{% url 'password_reset' %}">I forgot my password</a>[/code]<a name="tmpl_overview"></a>

<h2>Custom templates: Overview</h2>

Aside from the email itself, each of the four views has its own template. Creating custom versions of these templates is optional. You could use all of the built-in defaults and skip straight to <a href="#urls">updating <code>urls.py</code></a>. The directory containing <i>all</i> default templates, as installed with Django, is:
    &nbsp; &nbsp; <code>/home/myname/django_auth_lifecycle/djauth_venv/lib/python3.4/site-packages/django/contrib/admin/templates/registration/</code>

To create a custom template, you can<ul>
   <li>Duplicate the entire custom template and tweak what you like, or</li>
   <li><a href="http://stackoverflow.com/a/28570678/2736496">Extend the template</a> and override only the needed sections</li>
</ul>Regardless which way you choose, these default templates should be used as a reference if you encounter any problems.

The <i>relative</i> path of the file (as based off of one of the <code><a href="https://docs.djangoproject.com/en/1.7/ref/settings/#std:setting-TEMPLATE_DIRS">TEMPLATE_DIRS</a></code>) must be either <ul>
   <li>Equal to the default value of the view's <code>template_name</code> parameter, as specified in each view's documentation. For example, the <a href="https://docs.djangoproject.com/en/1.7/topics/auth/default/#django.contrib.auth.views.password_reset"><code>password_reset</code> view</a> states "Defaults to <code>registration/password_change_done.html</code> if not supplied."</li>
   <li>Or set to an alternate value, by <a href="https://docs.djangoproject.com/en/1.7/topics/http/urls/#passing-extra-options-to-view-functions">passing it through</a> it's url-entry:

[code language="python"]url(r"^pwd_reset_3of4_new_pwd_form/(?P<uidb64>\w+)/(?P<token>[\w-]+)/$",
    "django.contrib.auth.views.password_reset_confirm",
    { "template_name": "registration/pwd_reset_3of4_new_pwd_form.html" }[/code]</li>
</ul>

(The email itself is specified by the <code>email_template_name</code> parameter in <code>password_reset</code>.)<a name="tmpl_3of4"></a>

<h2>Custom template: <code>pwd_reset_3of4_new_pwd_form</code></h2>

The only custom template we'll be creating is for the set-your-new-password form (<code>django.contrib.auth.views.<a href="https://docs.djangoproject.com/en/1.7/topics/auth/default/#django.contrib.auth.views.password_reset_confirm">password_reset_done</a></code>), so we can also do a client-side check for the password lengths, and that they're equal. This will be implemented with <a href="http://jqueryvalidation.org">JQuery Validation</a>.

This is the default template, as installed by Django:
 &nbsp; &nbsp; <code> /home/myname/django_auth_lifecycle/djauth_venv/lib/python3.4/site-packages/django/contrib/admin/templates/registration/password_reset_confirm.html</code>

[code language="html"]{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset confirmation' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

{% if validlink %}

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post">{% csrf_token %}
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}</p>
<p><input type="submit" value="{% trans 'Change my password' %}" /></p>
</form>

{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}[/code]

The entire "content" block must be replaced with our custom code. The form as associated to the JavaScript by giving it the name "<code>newPwdForm</code>".

Save the following as
 &nbsp; &nbsp; <code>/home/myname/django_auth_lifecycle/djauth_root/auth_lifecycle/templates/registration/pwd_reset_3of4_new_pwd_form.html</code>

[code language="html"]{% extends "registration/password_reset_confirm.html" %}
{% comment %}
   The extends Must be the first line in the template. This comment may
   not be before it.

   Example use:
   - http://stackoverflow.com/a/28570678/2736496
   Documentation:
   - https://docs.djangoproject.com/en/1.7/ref/templates/builtins/#std:templatetag-extends
{% endcomment %}
{% load i18n %}       {# For the "trans" tag #}
{% block content %}

{% if validlink %}

<p>{% trans "Please enter your new password twice so we can verify." %}</p>
<p>{% trans "you typed it in correctly." %}</p>

<form action="" method="post" id="newPwdForm"><!-- Form id rqd by JS. -->
   {% csrf_token %}
   {{ form.new_password1.errors }}
   <p class="aligned wide">
      <label for="id_new_password1">{% trans 'New password:' %}</label>
      {{ form.new_password1 }}</p>
   {{ form.new_password2.errors }}
   <p class="aligned wide">
      <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
      {{ form.new_password2 }}</p>
   <p><input type="submit" value="{% trans 'Change my password' %}" /></p>
</form>

{% else %}

<p>{% trans "The password reset link was invalid, possibly because it" %}
{% trans "has already been used.  Please request a new password reset." %}</p>

{% endif %}

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
<script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
<script>
   //These values come from auth_lifecycle.models
   var minPassLen = {{ PASSWORD_MIN_LEN }}; //PASSWORD_MIN_LEN
   var maxPassLen = {{ PASSWORD_MAX_LEN }}; //PASSWORD_MAX_LEN

   var passwordMsg = "{% trans "Password must be between " %}" + minPassLen +
      "{% trans " and " %}" + maxPassLen +
      "{% trans " characters, inclusive." %}";

   jQuery.validator.setDefaults({
      success: "valid",
      //Avoids form submit. Comment when in production...START
      //debug: true
      //submitHandler: function() {
      //   alert("Success! The form was pretend-submitted!");
      //}
      //Avoids form submit. Comment when in production...END
   });
   $( "#newPwdForm" ).validate({
      rules: {
         new_password1: {
            required: true,
            minlength: minPassLen,
            maxlength: maxPassLen
         },
         new_password2: {
            //http://jqueryvalidation.org/equalTo-method
            equalTo: "#id_new_password1"
         }
      },
      messages:  {
         new_password1: {
            required: "{% trans "Password required" %}",
            minlength: passwordMsg,
            maxlength: passwordMsg
         }
      }
   });
</script>

{% endblock %}[/code]

<h2>Server-side check</h2>

As done with the <a href="/2015/02/12/django_auth_tutorial_6/#view">login form</a>, we're going to update the set-a-new-password form to enforce length. The default form used by this view, <code>django.contrib.auth.forms.<a href="https://docs.djangoproject.com/en/1.7/_modules/django/contrib/auth/forms/#SetPasswordForm">SetPasswordForm</a></code>, does check for the passwords being equal, but does not have any min or max lengths:

[code language="python"]new_password1 = forms.CharField(label=_("New password"),
                                widget=forms.PasswordInput)[/code]

Save the following as
 &nbsp; &nbsp; <code>/home/myname/django_auth_lifecycle/djauth_root/auth_lifecycle/registration/form_reset_set_new_pwd.py</code>

[code language="python"]from auth_lifecycle.models     import PASSWORD_MIN_LEN, PASSWORD_MAX_LEN
from auth_lifecycle.registration.view_login import get_min_max_incl_err_msg
from django                    import forms    #NOT django.contrib.auth.forms
from django.contrib.auth.forms import SetPasswordForm
from django.utils.translation  import ugettext, ugettext_lazy as _

min_max_len_err_msg = get_min_max_incl_err_msg(PASSWORD_MIN_LEN, PASSWORD_MAX_LEN)

class SetPasswordFormEnforceLength(SetPasswordForm):
    """
    A `SetPasswordForm` that enforces min/max lengths.
    - https://docs.djangoproject.com/en/1.7/_modules/django/contrib/auth/forms/#SetPasswordForm

    Pass this into the login form via the `set_password_form` parameter.
    - https://docs.djangoproject.com/en/1.7/topics/auth/default/#django.contrib.auth.views.password_reset_confirm
    Which is done in `registration/urls.py`.
    """
    new_password1 = forms.CharField(label=_("New password"),
                                    widget=forms.PasswordInput,
                                    min_length=PASSWORD_MIN_LEN,
                                    max_length=PASSWORD_MAX_LEN,
                                    error_messages={
                                        'min_length': min_max_len_err_msg,
                                        'max_length': min_max_len_err_msg })[/code]<a name="urls"></a>

(To repeat the warning from the top of <a href="/2015/02/12/django_auth_tutorial_6/">part six</a>: <i>The server-side length checks are "succeeding" but crashing--that is, they only crash when the lengths are incorrect. While this is a critical problem, it only applies when the client-side JavaScript is disabled. Here is a <a href="http://stackoverflow.com/questions/28681563/django-form-is-properly-catching-bad-user-pass-length-but-is-crashing-with-type">Stack Overflow question</a> documenting the problem. A solution would be greatly appreciated.</i>)

<h2>Configure the urls</h2>

Replace the contents of
 &nbsp; &nbsp; <code>/home/myname/django_auth_lifecycle/djauth_root/auth_lifecycle/registration/urls.py</code>
with

[code language="python"]from auth_lifecycle.models import PASSWORD_MIN_LEN, PASSWORD_MAX_LEN
from auth_lifecycle.registration.view_login import AuthenticationFormEnforceLength
from auth_lifecycle.registration.form_reset_set_new_pwd import SetPasswordFormEnforceLength
from django.conf.urls      import patterns, url
#Passing keyword arguments through url entries:
# - https://docs.djangoproject.com/en/1.7/topics/http/urls/#passing-extra-options-to-view-functions
urlpatterns = patterns('',
    url(r"^login/$",
        "auth_lifecycle.registration.view_login.login_maybe_remember",
        { "authentication_form": AuthenticationFormEnforceLength },
        name="login"),
    url(r"^logout_then_login/$", "django.contrib.auth.views.logout_then_login",
        {"login_url": "login"}, name="logout_then_login"),
    url(r"^password_reset_1of4_email_request/$",
        "django.contrib.auth.views.password_reset", name="password_reset"),
    url(r"^password_reset_2of4_email_sent/$",
        "django.contrib.auth.views.password_reset_done",
        name="password_reset_done"),
    url(r"^pwd_reset_3of4_new_pwd_form/(?P<uidb64>\w+)/(?P<token>[\w-]+)/$",
        "django.contrib.auth.views.password_reset_confirm",
        { "template_name": "registration/pwd_reset_3of4_new_pwd_form.html",
          "extra_context": { "PASSWORD_MIN_LEN": PASSWORD_MIN_LEN,
                             "PASSWORD_MAX_LEN": PASSWORD_MAX_LEN },
          "set_password_form": SetPasswordFormEnforceLength },
        name="password_reset_confirm"),
    #If NOT using a custom template:
    # url(r"^pwd_reset_3of4_new_pwd_form/(?P<uidb64>\w+)/(?P<token>[\w-]+)/$",
    #     "django.contrib.auth.views.password_reset_confirm",
    #     name="password_reset_confirm"),
    url(r"^password_reset_4of4_finished/$",
        "django.contrib.auth.views.password_reset_complete",
        name="password_reset_complete" ),
)[/code]<a name="tests"></a>

<h2>Tests</h2>

Save the following as
<br> &nbsp; &nbsp; <code>/home/myname/django_auth_lifecycle/djauth_root/auth_lifecycle/registration/....py</code>

[code language="python"]...[/code]

Output:

<pre></pre>

Our tests passed.<a name="try"></a>

<h1>Give it a try!</h1>

Follow <a href="/2014/10/19/django_auth_testing_tutorial_3/#try">these steps</a> to start your server. A reminder to check your console for the text of email.


---

In the next post, we move on to the change your password form. After that, the final steps are creating and deleting an account.

<i><code><b>[TOC: <a href="/2014/10/16/django_auth_tutorial/">one</a>, <a href="/2014/10/19/django_auth_tutorial_2/">two</a>, <a href="/2014/10/19/django_auth_testing_tutorial_3/">three</a>, <a href="/2014/12/29/django_auth_tutorial_4/">four</a>, <a href="/2015/01/26/django_auth_tutorial_5/">five</a>, <a href="/2015/02/12/django_auth_tutorial_6/">six</a>, <a href="/2015/02/13/django_auth_tutorial_7/">seven</a>, eight, nine, ten]</b></code></i>

<h1><i>...to be continued...</i></h1>

<i>(cue <a href="http://www.dramabutton.com/">cliffhanger segue music</a>)</i>

